.products{
    background-color: #dcd1f0;
}

.card-title{
    text-align: center;
    
    @include cardfs($fs-1,$color-pink-1,$fw-3);
}

h2{
    text-align: center;
    @include cardfs($fs-7+10,$color-dark-2,$fw-2);
}

.card-text{
    text-align: center;
    @include cardfs($fs-1,$color-dark-3,$fw-2);
}
.card{
    margin-bottom: 30px;

 &:hover{
     box-shadow: 0 20px 20px -10px;
     
 }
}

